@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Nunito", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  padding: 1%;
  background-color: #dbb070;
  opacity: 0.6;
  border-radius: 9px;
  transition: all 0.75s;
}

.button {
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.5s;
  font-family: "Nunito", sans-serif;
  background-color: white;
  backdrop-filter: blur(10px);
  opacity: 1;
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.char-ani-wrapper {
  padding-top: 10%;
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote {
  font-size: 150%;
  text-align: center;
}

p {
  transition: 0.5s;
}
